.scrolling-tbody {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.scrolling-tbody::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  animation: scroll 5s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
